<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.pro.pulmuone.mapper.mypage.personal.address.AddressMapper">

	<resultMap type="org.pro.pulmuone.domain.mypage.personal.address.AddrBookDTO" id="addressMap">
		<result property="addrNo" column="addr_no"></result>
		<result property="memberNo" column="member_no"></result>
		<result property="addrName" column="addr_name"></result>
		<result property="name" column="name"></result>
		<result property="tel" column="tel"></result>
		<result property="dest" column="dest"></result>
		<result property="zipCode" column="zip_code"></result>
		<result property="addr" column="addr"></result>
		<result property="addrDetail" column="addr_detail"></result>
		<result property="memo" column="memo"></result>
		<result property="defaultAddr" column="default_addr"></result>
	</resultMap>


	<select id="selectAddresses" resultMap="addressMap">
		SELECT *
		FROM addr_book
		WHERE member_no = #{memberNo}
	</select>

	<select id="selectAddress" resultMap="addressMap">
		SELECT *
		FROM addr_book
		WHERE addr_no = #{addrNo}
	</select>



	<delete id="deleteAddress">
		DELETE FROM addr_book
		WHERE addr_no = #{addrNo}
	</delete>

</mapper>