<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.pro.pulmuone.mapper.mypage.personal.address.AddressMapper">

	<resultMap type="org.pro.pulmuone.domain.mypage.personal.address.AddrBookDTO" id="addressMap">
		<result property="addrNo" column="addr_no"></result>
		<result property="memberNo" column="member_no"></result>
		<result property="addrName" column="addr_name"></result>
		<result property="name" column="name"></result>
		<result property="tel" column="tel"></result>
		<result property="dest" column="dest"></result>
		<result property="zipCode" column="zip_code"></result>
		<result property="addr" column="addr"></result>
		<result property="addrDetail" column="addr_detail"></result>
		<result property="memo" column="memo"></result>
		<result property="defaultAddr" column="default_addr"></result>
	</resultMap>


	<select id="selectAddressList" resultMap="addressMap">
		SELECT *
		FROM addr_book
		WHERE member_no = #{memberNo}
		ORDER BY default_addr DESC, addr_no DESC
	</select>

	<select id="selectAddress" resultMap="addressMap">
		SELECT *
		FROM addr_book
		WHERE addr_no = #{addrNo}
	</select>

	<insert id="insertAddress">
		INSERT INTO addr_book
		VALUES ( seq_addr_book.NEXTVAL, #{dto.memberNo}, #{dto.addrName}, #{dto.name}, #{dto.tel}, #{dto.dest}, #{dto.zipCode}, #{dto.addr}, #{dto.addrDetail}, #{dto.memo}, #{dto.defaultAddr} )
	</insert>

	<update id="updateAddress">
		UPDATE addr_book
		SET addr_name = #{dto.addrName}, name = #{dto.name}, tel = #{dto.tel}, dest = #{dto.dest}, zip_code = #{dto.zipCode}, addr = #{dto.addr}, addr_detail = #{dto.addrDetail}, memo = #{dto.memo}
		WHERE member_no = #{dto.memberNo} AND addr_no =  #{dto.addrNo}
	</update>

	<update id="updateDefaultAddrForReset">
		UPDATE addr_book
		SET default_addr = 0
		WHERE member_no = #{memberNo} AND default_addr = 1
	</update>

	<update id="updateDefaultAddr">
		UPDATE addr_book
		SET default_addr = 1
		WHERE addr_no = #{addrNo}
	</update>

	<delete id="deleteAddress">
		DELETE FROM addr_book
		WHERE addr_no = #{addrNo}
	</delete>

</mapper>