<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.pro.pulmuone.mapper.main.MainMapper">

     <select id="get" resultType="org.pro.pulmuone.domain.product.ProductsDTO">
       select a.products_no, category_no, products_name, products_sub_name, products_type, content, price, event_price
		, products_size, delivery_type, tag_no1, tag_no2, tag_no3, tag_no4, tag_no5, products_tag, reg_date, system_name, event_tag, event_tag2,wish_status 	              
		from products a join products_img b on a.products_no = b.products_no 							
		where a.products_no in (0073184,0072348,0073080,0073344,0072969,0073271,0073136,0073405,0070680,0071654) 
		and origin_name not like 'View%' 
		order by DBMS_RANDOM.RANDOM 
     </select>

</mapper>