<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.pro.pulmuone.mapper.taste.TasteMapper">
<!-- 	List<ProductsDTO> search(); -->
<select id="search" resultType="org.pro.pulmuone.domain.taste.TasteDTO">
		SELECT gift_no, gift_name, gift_description, mon_products_no, tue_products_no, wed_products_no, 
		thu_products_no, fri_products_no, gift_original_price, products_tag, products_name, system_name
		FROM gift_set a ,products b, products_img c
		<choose>
			<when test='gift_no != null and gift_no != ""'>
				WHERE gift_no = #{gift_no}	
			</when>
			<otherwise>
				WHERE gift_no = 229		
			</otherwise>
		</choose>	
		and b.products_no = c.products_no
		and origin_name not like 'View%' 
		and( a.mon_products_no = b.products_no 
		or a.tue_products_no = b.products_no 
		or a.wed_products_no = b.products_no 
		or a.thu_products_no = b.products_no 
		or a.fri_products_no = b.products_no ) 	   	 
					 
     </select>
</mapper>