<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="org.pro.pulmuone.mapper.mypage.order.BoxOrderMypageMapper">
	
	<!-- List<BoxOrderMypageDTO> selectBoxOrder(int member_no); -->
	<select id="selectBoxOrder" resultType="org.pro.pulmuone.domain.mypage.order.BoxOrderMypageDTO">
		<![CDATA[
			SELECT box_order_no, products_name, box_order_date, box_order_status, box_final_price, total_count
			FROM (
			        SELECT op.box_order_no, op.products_no, products_name, box_order_date, box_order_status, box_final_price, member_no
			                , ROW_NUMBER() OVER(PARTITION BY op.box_order_no ORDER by op.box_order_no) prn
			                , ROW_NUMBER() OVER(PARTITION BY member_no ORDER BY o.box_order_no DESC ) rn
			                , (SELECT COUNT(*) FROM box_order WHERE member_no = #{member_no}) total_count
			        FROM box_order_products op JOIN products pr ON op.products_no = pr.products_no
			                                    JOIN box_order o ON op.box_order_no = o.box_order_no
			                                    JOIN box_pay p ON op.box_order_no = p.box_order_no
			        WHERE member_no = #{member_no}
				 ) t
			WHERE prn = 1 AND rn <= 2 AND box_order_date - ADD_MONTHS(SYSDATE, -3) > 0 
		]]>
	</select>
	
	<!-- int getBoxOrderStatus(int member_no, int status); -->
	<select id="getBoxOrderStatus" resultType="Integer">
		SELECT COUNT(*)
		FROM box_order
		WHERE member_no = #{member_no} AND box_order_status = #{status}
		<if test="status == 4">
                  AND box_order_date - ADD_MONTHS(SYSDATE, -3) > 0
        </if> 
	</select>
	
	<!-- List<BoxOrderMypageListDTO> selectBoxInfos(int member_no, Date startDate, Date endDate); -->
	<select id="selectBoxInfos" resultType="org.pro.pulmuone.domain.mypage.order.BoxOrderMypageListDTO">
		SELECT box_order_no, box_order_date, box_order_status
		    , COUNT(box_order_no) OVER() total_count
		FROM box_order
		WHERE member_no = #{member_no} AND box_order_date BETWEEN #{startDate} AND #{endDate}
	</select>
	
	<!-- List<BoxOrderMypageProductsDTO> selectBoxOrderMypageProducts(int box_order_no); -->
	<select id="selectBoxOrderMypageProducts" resultType="org.pro.pulmuone.domain.mypage.order.BoxOrderMypageProductsDTO">
		SELECT op.products_no, products_cnt, products_name, products_size, products_type
		        , price, event_price, img_path, system_name
		FROM box_order_products op JOIN products p ON op.products_no = p.products_no
		                            			JOIN products_img i ON p.products_no = i.products_no
		WHERE box_order_no = #{member_no} AND origin_name != 'View.png'
	</select>
	
</mapper>