<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.pro.pulmuone.mapper.EventMapper">

	<select id="getEventImages" resultType="org.pro.pulmuone.domain.event.EventImageVO">
        SELECT *
        FROM event_image
        WHERE event_no = #{eventNo}
    </select>
    
</mapper>

