<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="org.pro.pulmuone.mapper.order.BoxOrderMapper">

     <!--  List<BoxItemInfoDTO> selectItems( List<BoxOrderItemDTO> items) -->
     <select id="selectItems" resultType="org.pro.pulmuone.domain.order.box.BoxItemInfoDTO">
     	SELECT p.products_no, products_name, products_size, products_type, price, event_price, img_path, system_name
     	FROM products p LEFT JOIN products_img i ON p.products_no = i.products_no
     	<where>
	     	<foreach collection="items" item="item" open="p.products_no IN (" separator="," close=")">
	     		#{item.itemCode}
	     	</foreach>
	     	AND origin_name != 'View.png'
	    </where>
     	ORDER BY p.products_no
     </select>
     
     <!-- List<CouponDTO> getCouponList(int member_no); -->
     <select id="getCouponList" resultType="org.pro.pulmuone.domain.order.CouponDTO">
     	<![CDATA[
	     	SELECT c.coupon_no, coupon_name, discount, duplication, min_price, max_discount
	     	FROM coupon c JOIN have_coupon h ON c.coupon_no = h.coupon_no
	     	WHERE member_no = #{ member_no } AND delivery_type = 1 AND used = 0 AND NVL(min_price, 0) < #{ total_price }
	     ]]>
     </select>
     
</mapper>