<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="org.pro.pulmuone.mapper.order.OrderMapper">

     <!-- String getMemberInfo(String username); -->
     <select id="getMemberInfo" resultType="org.pro.pulmuone.domain.order.OrderAddrBookDTO">
     	SELECT name, tel, member_no
     	FROM member
     	WHERE member_id = #{username}
     </select>
     
     <!-- List<OrderAddrBookDTO> getAddrInfo(int member_no, int pageNo); -->
     <select id="getAddrInfo" resultType="org.pro.pulmuone.domain.order.OrderAddrBookDTO">
     	<![CDATA[
	     	SELECT addr_no, addr_name, name, tel, dest, zip_code, addr, addr_detail, memo, total_count
	     	FROM (
			     		SELECT addr_no, addr_name, name, tel, dest, zip_code, addr, addr_detail, memo, ROWNUM rn
			     					, (SELECT COUNT(*) FROM addr_book WHERE member_no = 1) total_count
				     	FROM addr_book
				     	WHERE ROWNUM <= #{pageNo} * 5 AND member_no = #{member_no}
	     			) a
	     	WHERE rn > (#{pageNo} - 1) * 5
     	]]>
     </select>
     
     <!-- public List<DailyItemInfoDTO> getproductList(@Param("searchKeyword") String searchKeyword, @Param("pageNo") int pageNo); -->
     <select id="getproductList" resultType="org.pro.pulmuone.domain.order.daily.DailyItemInfoDTO">
     	<choose>
     		<when test="searchKeyword != null and searchKeyword != ''">
     			<![CDATA[
		            SELECT products_no, products_name, img_path, system_name, products_size, price, total_count
			     	FROM (
					     		SELECT p.products_no, products_name, img_path, system_name, products_size, price, ROWNUM rn
		                                , (SELECT COUNT(*) FROM products WHERE products_name LIKE '%'||#{searchKeyword}||'%') total_count
						     	FROM products p JOIN products_img i ON p.products_no = i.products_no
						     	WHERE origin_name != 'View.png' AND ROWNUM <= #{pageNo} * 8 AND products_name LIKE '%'||#{searchKeyword}||'%'
			     			) a
			     	WHERE rn > (#{pageNo} - 1) * 8
			     ]]>
     		</when>
     		<otherwise>
     			<![CDATA[
		            SELECT products_no, products_name, img_path, system_name, products_size, price, total_count
			     	FROM (
					     		SELECT p.products_no, products_name, img_path, system_name, products_size, price, ROWNUM rn
		                                , (SELECT COUNT(*) FROM products) total_count
						     	FROM products p JOIN products_img i ON p.products_no = i.products_no
						     	WHERE origin_name != 'View.png' AND ROWNUM <= #{pageNo} * 8
			     			) a
			     	WHERE rn > (#{pageNo} - 1) * 8
			     ]]>
     		</otherwise>
     	</choose>
     </select>
     
	<!-- public String getFranchise(@Param("latitude") double latitude, @Param("longitude") double longitude, @Param("fc_type")  int fc_type); -->
     <select id="getFranchise" resultType="String">
     	<![CDATA[
	     	SELECT f.fc_name
			FROM (
			        SELECT fc_name, POWER(#{longitude} - fc_lat, 2) + POWER(#{latitude} - fc_lng, 2) lat
			        FROM franchise
        			WHERE fc_type IN(2, #{fc_type})
			        ORDER BY lat
			        ) f
			WHERE ROWNUM = 1 AND lat < 0.001
		]]>
     </select>
     
</mapper>