<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.pro.pulmuone.mapper.deregist.DeregistMapper">
	<insert id="insertDeregist">
		INSERT INTO deregist ( member_no, dereg_type, dereg_reason )  
		VALUES ( #{dto.memberNo}, #{dto.deregType}, 
		<choose>
			<when test="dto.deregReason != null">
				#{dto.deregReason} )
			</when>
			<otherwise>
				'')
			</otherwise>
		</choose>
	</insert>
	
	
	
</mapper>