<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="org.pro.pulmuone.mapper.faq.FaqMapper">
	<!--  ArrayList<FaqDTO> search(int pageNo, int numberPerPage, String searchKeyword ) throws SQLException; -->
	<select id="search" resultType="org.pro.pulmuone.domain.faq.FaqDTO">
		SELECT b.*
		FROM (
			SELECT ROWNUM no, t.*
			FROM (
				SELECT q_no, faq_no, question, answer
				FROM faq
				WHERE REGEXP_LIKE ( question, #{param3}, 'i' )
				ORDER BY q_no DESC
			) t
		) b
		WHERE b.no BETWEEN (#{param1}-1) * #{param2} + 1 AND ((#{param1}-1) * #{param2}) + #{param2}
	</select>	

     <!--  ArrayList<FaqDTO> select(int pageNo, int category,  int numberPerPage) throws SQLException; -->
     <select id="select" resultType="org.pro.pulmuone.domain.faq.FaqDTO">
      <![CDATA[
     	SELECT *
		FROM (
			SELECT ROWNUM no, t.*
			FROM (
			 	SELECT q_no, faq_no, question, answer
			 	FROM faq
			 	WHERE faq_no = ${param2}
			   	ORDER BY q_no DESC
			) t
		) b
		WHERE b.no BETWEEN (#{param1}-1) * #{param3} + 1 AND ((#{param1}-1) * #{param3}) + #{param3}
		]]> 
     </select>
     
     <!-- int getTotalPages(int numberPerPage, int category, String searchKeyword) throws SQLException; -->
     <select id="getTotalPages" resultType="int">
 
		SELECT CEIL(COUNT(*)/#{param1})
		FROM faq
		<choose>
			<when test="param3 != '' ">
				WHERE REGEXP_LIKE ( question, #{param3}, 'i' )			
			</when>
			<otherwise>
				WHERE faq_no = ${param2}			
			</otherwise>
		</choose>
     	
     </select>
     
     
     <!--  int selectCount(int category, String searchKeyword) throws SQLException; -->
     <select id="selectCount" resultType="int">
     	SELECT COUNT(*)
		FROM faq
		<choose>
			<when test="param2 != '' ">
				WHERE REGEXP_LIKE ( question, #{param2}, 'i' )			
			</when>
			<otherwise>
				WHERE faq_no = ${param1}			
			</otherwise>
		</choose>
     </select>
     
</mapper>

