<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="org.pro.pulmuone.mapper.faq.FaqMapper">
     <!--  ArrayList<FaqDTO> select(int pageNo, int category,  int numberPerPage) throws SQLException; -->
     <select id="select" resultType="org.pro.pulmuone.domain.faq.FaqDTO">
     	SELECT *
     	FROM faq
        <!-- SELECT *
		FROM (
			SELECT ROWNUM no, t.*
			FROM (
			 	SELECT q_no, faq_no, question, answer
			 	FROM faq
			 	WHERE faq_no = #{param2}
			   	ORDER BY q_no DESC
			) t
		) b
		WHERE b.no BETWEEN (1 + ( #{param1} -1)*10) AND (10 + (#{param1} -1)*10) -->
     </select>
</mapper>